$baseBgColor: #23262D;
$baseColor: #DFDFDF;
$basePadding: 20px;



/* 小字体颜色  shi shuai*/
$littleBaseColor:#75767A;

/* icon图标路径变量 shi shuai exp: background: url($iconUrl+'search2x.png') */
$iconUrl:'../../assets/imgs/icons/';